.modal-contents-second-input {
  border: 0.5px solid #626060;
  height: 2rem;
  width: 80%;
  font-size: 18px;
  border-radius: 15px;
  text-align: center;
}

.dropdownContainer {
    width: 100%;
  &-item {
    
  }
}
