.lecture {
  margin: 0.5rem 1.5rem;
  cursor: pointer;
  &-wrap {
    display: flex;
    border: 0.5px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
    border-radius: 10px;
    font-size: 12px;
    padding: 0.2rem 0;
    height: 1rem;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    &:hover {
      font-weight: 700;
      border: 0.5px solid #8a8a8a;
      border-radius: 10px;
    }
  }

  &-wrap-isInSchedule {
    display: flex;
    border: 0.5px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
    border-radius: 10px;
    font-size: 12px;
    padding: 0.2rem 0;
    height: 1rem;
    width: 100%;
    overflow: hidden;
    justify-content: space-around;
    color: rgba(0, 0, 0, 0.242);
    &:hover {
      font-weight: 700;
      border: 0.5px solid #8a8a8a;
      border-radius: 10px;
    }
  }

  &-wrap-isTaken {
    display: flex;
    border: 0.5px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
    border-radius: 10px;
    font-size: 12px;
    padding: 0.2rem 0;
    height: 1rem;
    width: 100%;
    overflow: hidden;
    justify-content: space-around;
    color: rgba(130, 0, 0, 0.5);
    text-decoration: line-through;
    &:hover {
      font-weight: 700;
      border: 0.5px solid #8a8a8a;
      border-radius: 10px;
    }
  }

  &-wrap-necessary {
    display: flex;
    border: 0.5px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
    border-radius: 10px;
    font-size: 12px;
    padding: 0.2rem 0;
    height: 1rem;
    width: 100%;
    overflow: hidden;
    justify-content: space-around;
    background-color: #ff9999;

    &:hover {
      font-weight: 700;
      border: 0.5px solid #8a8a8a;
      border-radius: 10px;
    }
  }

  &-wrap-online {
    display: flex;
    border: 0.5px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
    border-radius: 10px;
    font-size: 12px;
    padding: 0.2rem 0;
    height: 1rem;
    width: 100%;
    overflow: hidden;
    justify-content: space-around;
    background-color: #99ff99;
    &:hover {
      font-weight: 700;
      border: 0.5px solid #8a8a8a;
      border-radius: 10px;
    }
  }

  &_title {
    text-align: center;
    font-size: 15px;
    // font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    // overflow: hidden;
    width: 15rem;

    &-recommend {
      text-align: center;
      font-size: 15px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      width: 15rem;
    }
  }

  &_type {
    font-size: smaller;
  }

  &_score {
    font-size: smaller;
  }

  &_time {
    font-size: smaller;
    width: 5rem;
  }

  &_prof {
    width: 3rem;
  }
}

.lecture .recommend {
  // font-weight: bold;
  color: #a31432;
}
