.lecture {
  margin: 0.5rem 1.5rem;
  cursor: pointer;
  display: flex;
  &-wrap {
    display: flex;
    border: 0.5px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
    border-radius: 10px;
    font-size: 12px;
    padding: 0.3rem 0;
    height: 1.25rem;
    line-height: 1.25rem;
    width: 100%;
    overflow: hidden;
    justify-content: space-around;
    &:hover {
      font-weight: 700;
      border: 0.5px solid #8a8a8a;
      border-radius: 10px;
    }
  }

  &-wrap-isInSchedule {
    display: flex;
    border: 0.5px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
    border-radius: 10px;
    font-size: 12px;
    padding: 0.3rem 0;
    height: 1.25rem;
    line-height: 1.25rem;
    width: 100%;
    overflow: hidden;
    justify-content: space-around;
    color: rgba(0, 0, 0, 0.242);
    &:hover {
      font-weight: 700;
      border: 0.5px solid #8a8a8a;
      border-radius: 10px;
    }
  }

  &-wrap-isTaken {
    display: flex;
    border: 0.5px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
    border-radius: 10px;
    font-size: 12px;
    padding: 0.3rem 0;
    height: 1.25rem;
    line-height: 1.25rem;
    width: 100%;
    overflow: hidden;
    justify-content: space-around;
    color: rgba(130, 0, 0, 0.5);
    text-decoration: line-through;
    &:hover {
      font-weight: 700;
      border: 0.5px solid #8a8a8a;
      border-radius: 10px;
    }
  }

  &-wrap-necessary {
    display: flex;
    border: 0.5px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
    border-radius: 10px;
    font-size: 12px;
    padding: 0.3rem 0;
    height: 1.25rem;
    line-height: 1.25rem;
    width: 100%;
    overflow: hidden;
    justify-content: space-around;
    background-color: #ff9999;

    &:hover {
      font-weight: 700;
      border: 0.5px solid #8a8a8a;
      border-radius: 10px;
    }
  }

  &-wrap-online {
    display: flex;
    border: 0.5px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
    border-radius: 10px;
    font-size: 15px;
    padding: 0.3rem 0;
    height: 1.25rem;
    line-height: 1.25rem;
    width: 100%;
    overflow: hidden;
    justify-content: space-around;
    background-color: #b2f7cf;
    &:hover {
      font-weight: 700;
      border: 0.5px solid #8a8a8a;
      border-radius: 10px;
    }
  }

  &_title {
    // text-align: center;
    margin: 0 3rem;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%;
    max-width: 250px;
    min-width: 50px;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;

    &-recommend {
      margin: 0 3rem;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 50%;
      max-width: 250px;
      min-width: 50px;
      font-size: 0.9rem;
      font-weight: 800;
    }
  }

  &_type {
    margin: 0 0 0 0.3rem;

    // text-align: center;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 5%;
    min-width: 10px;
    font-size: 0.75rem;
    font-weight: 300;
    
  }

  &_score {   
    margin: 0 0 0 0.3rem;

    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 5%;
    min-width: 10px;
    font-size: 0.75rem;

    font-weight: 300;

  }

  &_time {
    margin: 0 0 0 0.3rem;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 15%;
    min-width: 30px;
    font-size: 0.75rem;
    font-weight: 300;

    &_isInSchedule {
      margin: 0 0 0 0.3rem;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 15%;
      min-width: 30px;
      font-size: 0.75rem;
      font-weight: 500;
      color: #a31432;
      // text-decoration: underline;
    }
  }

  &_prof {
  
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 15%;
    min-width: 30px;
    font-size: 0.75rem;
    
    font-weight: 300;
    width: 3rem;

  }
}

.lecture .recommend {
  // font-weight: bold;
  color: #a31432;
  font-size: 0.8rem;
}
