.lecture {
  display: flex;
  border: 0.5px solid #626060;
  border-radius: 10px;
  margin: 0.5rem 1.5rem;
  font-size: 12px;
  padding: 0.2rem 0;
  height: 1rem;
  width: 100%;
  overflow: hidden;
  // justify-content: space-around;
  
  &_title {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    width: 12rem;    
  }
  &_type {
    font-size: smaller;
    margin-right: 0.5rem;
  }
  &_score {
    font-size: smaller;
    margin-right: 1rem;
  }
  &_time {
    font-size: smaller;
    margin-right: 1rem;
    width: 5rem;
  }
  &_prof {
    width: 3rem;
  }
}
