.graduateMajor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid rgba(0, 0, 0, 0.527);
  line-height: 32.5px;
  &-list{
    &-title{
      display: inline-block;
      width: 200px;
      font-size: 1.15rem;
      font-weight: 0;
    }
    &-num{
      font-size: 0.8rem;
    }
    &-grade{
      font-size: 1rem;
    }
  }
}

.graduateMajor-completed{
  color: rgba(0, 0, 0, 0.356);
  background-color: rgba(0, 0, 0, 0.123);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid rgba(0, 0, 0, 0.527);
  line-height: 32.5px;
  font-style: italic;
}
