.signup {
  &-background {
    width: 100vw;
    height: 100vh;
    min-height: 1080px;
    background: linear-gradient(#a31432 50%, #eeede3 50%);
    z-index: -9999;
  }
  &-text{
    position: relative;
    text-align: center;
    top: 50px;
    p {
      color: white;
      font-size: 35px;
      font-weight: 700;
      font-family: 'inter';
      line-height: 0.5rem;
      letter-spacing: -2px;

    }
  }
  &-box{
    position: relative;
    top: 100px;
  }
  &-copyright{
    position: absolute;
    display: inline-block;
    width: 30%;
    left: 35%;
    top: 80%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    text-align: center;
    color: #0000006c;
  }
}
